.login-page{
    min-height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    padding: 2em 3em;
    border-radius: 1em;
    background-color: #F0F0F0;
    width: 17vw;

}

.login-title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.2em;
    color: black ;
}


.login-row-input {
    width:90%;
    border: 1px solid lightgray;
    border-radius: 0.3em;
    padding: 0.8em 1em;
    margin-bottom: 1em;
}

.login-row-input:focus {
    border-color: rgba(232, 156, 76, 0.616);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(253, 197, 13, 0.25);
}

.login-button{
    width: 100%;
    height: 6vh;
    background-color: rgb(169, 170, 133);
    border:none;
    border-radius: 0.3em;
    color:white;
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.login-button:hover{
    background-color: rgba(169, 170, 133, 0.642);
    cursor:pointer;
}

.login-register-button{
    font-size: 0.8rem;
    color:gray;
    align-self: flex-end;
}

.login-register-button:hover{
    text-decoration: underline;
    cursor:pointer;
}